<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end%>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password%>
    <%= f.text_field :password %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation%>
    <%= f.text_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  </div>
  
<% end %>